@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@theme {
  --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-radius: 0.5rem;
}

@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: #030307;
    --card: #f2f2f2;
    --card-foreground: #030307;
    --popover: #f2f2f2;
    --popover-foreground: #030307;
    --primary: #865cbd;
    --primary-foreground: #f2f2f2;
    --secondary: #64748b;
    --secondary-foreground: #0a64ea;
    --muted: #a1b9dd;
    --muted-foreground: #1b222e;
    --accent: #64748b;
    --accent-foreground: #0a64ea;
    --destructive: #dc2626;
    --destructive-foreground: #f2f2f2;
    --border: #64748b;
    --input: #64748b;
    --ring: #2d3748;
    --chart-1: #34d399;
    --chart-2: #059669;
    --chart-3: #7c3aed;
    --chart-4: #a855f7;
    --chart-5: #8b5cf6;
    --radius: 0.5rem;
  }
  .dark {
    --background: #121212;
    --foreground: #f2f2f2;
    --card: #030307;
    --card-foreground: #f2f2f2;
    --popover: #030307;
    --popover-foreground: #f2f2f2;
    --primary: #f2f2f2;
    --primary-foreground: #b17af9;
    --secondary: #2d3748;
    --secondary-foreground: #f2f2f2;
    --muted: #1b222e;
    --muted-foreground: #a1b9dd;
    --accent: #2d3748;
    --accent-foreground: #ddd;
    --destructive: #b91c1c;
    --destructive-foreground: #f2f2f2;
    --border: #2d3748;
    --input: #2d3748;
    --ring: #a0aec0;
    --chart-1: #22c55e;
    --chart-2: #0f766e;
    --chart-3: #9a86cb;
    --chart-4: #c26ae6;
    --chart-5: #a855f7;
  }
}

* {
  scroll-behavior: smooth;
}